@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new machine</h4>

@using (Html.BeginForm())
{
    <p>@Html.LabelFor(model => model.Name)</p>
    <p>@Html.TextBoxFor(model => model.Name)</p>
    <p>@Html.LabelFor(model => model.Type)</p>
    <p>@Html.TextBoxFor(model => model.Type)</p>
    <p>@Html.LabelFor(model=> model.Location)</p>
    <p>@Html.TextBoxFor(model=> model.Location)</p>
    <p>@Html.Label("Next Inspection Date")</p>
    <p>@Html.TextBoxFor(model => model.InspectionDate, new { type = "date", required = "required" })</p>
    <p>@Html.Label("Is this machine currently operating?")</p>
    <p>@Html.Label("Yes")
    @Html.RadioButtonFor(model => model.IsOperating, "Yes")
    @Html.Label("No")
    @Html.RadioButtonFor(model => model.IsOperating, "No")</p>
    <p>@Html.Label("Is this machine malfunctioning?")</p>
    <p>@Html.Label("Yes")
    @Html.RadioButtonFor(model => model.IsMalfunctioning, "Yes")
    @Html.Label("No")
    @Html.RadioButtonFor(model => model.IsMalfunctioning, "No")</p>
    <p>@Html.Label("Is this machine being repaired?")</p>
    <p>@Html.Label("Yes")
    @Html.RadioButtonFor(model => model.IsBeingRepaired, "Yes")
    @Html.Label("No")
    @Html.RadioButtonFor(model => model.IsBeingRepaired, "No")</p>

    <p><input type="submit" value="Add new machine"/></p>
}
<p>@Html.ActionLink("Show all machines", "Index")</p>
