@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>@Html.DisplayFor(model=> model.Name) Details</h2>
<hr/>
<p>@Html.DisplayNameFor(model=> model.Type): @Html.DisplayFor(model=> model.Type)</p>
<p>Next Inspection Date: @Html.Label(Model.InspectionDate.ToShortDateString())</p>
<p>Machine Location: @Html.DisplayFor(model=> model.Location)</p>
<p>Is this machine currently operational? @Html.DisplayFor(model=> model.IsOperating)</p>
<p>Is this machine malfunctioning? @Html.DisplayFor(model=> model.IsMalfunctioning)</p>
<p>Is this machine being repaired? @Html.DisplayFor(model=> model.IsBeingRepaired)</p>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This machine does not have any engineers assigned to it.</p>
}
else{
  <p>These are the engineers assigned to @Html.DisplayFor(model=> model.Name)</p>
  @foreach(var join in Model.JoinEntities)
  {
    <p>@join.Engineer.Name</p>
    @using(Html.BeginForm("DeleteEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <p><input type="submit" value="Delete"/></p>
    }
  }
}

<p>@Html.ActionLink("Edit Machine", "Edit", new{id = Model.MachineId})</p>
<p>@Html.ActionLink("Remove machine", "Delete", new {id=Model.MachineId})</p>
<p>@Html.ActionLink("Back to List", "Index")</p>
