@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new Engineer</h4>

@using (Html.BeginForm())
{
   <p>@Html.LabelFor(model => model.Name)</p>
   <p>@Html.TextBoxFor(model => model.Name)</p>
   <p>@Html.LabelFor(model => model.Certifications)</p>
   <p>@Html.TextBoxFor(model => model.Certifications)</p>
   <p>@Html.Label("License Renewal Date")</p>
   <p>@Html.TextBoxFor(model => model.LicenseRenewal, new { type = "date", required = "required" })</p>
   <p>@Html.Label("Factory Location")</p>
   <p>@Html.TextBoxFor(model => model.Location)</p>

    <p>@Html.Label("Assign to machine")</p>
    <p>@Html.DropDownList("MachineId")</p>

    <p><input type="submit" value="Add engineer"/></p>
}
<p>@Html.ActionLink("Back to engineers", "Index")</p>

